<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalibility</title>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\css\Avalibility.css" type="text/css">
</head>

<body>
    <section class="sec1">

        <% parking.forEach(parking=> { %>
            <% if (locals.parking) { %>

                <div class="sec1-div1">

                    <div class="sec1-div2">
                        <h1 class="sec1-div1-h1">
                            Parking <%=parking.parking_number%>
                        </h1>
                        <h2 class="sec1-div1-h2">Address</h2>
                        <p class="sec1-div1-p">
                            <%=parking.address%>
                        </p>
                        <h3 class="sec1-div1-h3"><a class="sec1-div1-h3-a" href="<%=parking.link %>">View
                                map here </a>
                            <p>➡️</p>
                        </h3>
                        <h3 class="sec1-div1-h3 link2"><a href="/seemore/<%=parking._id %>" class="sec1-div1-h3-a">See
                                More </a></h3>
                    </div>
                </div>
                <% }else{ %>
                    <h1>Not found</h1>

                    </div>
                    <% } %>
                        <% }); %>

    </section>
</body>

</html>