<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\css\style.css" type = "text/css">
</head>
<body class="home-body">
        <div class="home">
            <h1 class="home-h1" >This is home page</h1>
        <div class="home-link">
            <a class="home-link1"  href="/register" >Sign up!!</a>
            <a class="home-link2" href="/login">Login</a>
            <!-- <li><a href="/logout">Logout</a></li> -->
        </div>
    </div>


</body>
</html>
