/* body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    position: relative;
    height: 30px;
}

button:hover {
    background-color: #45a049;
}



.sec1-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */