<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Avalibility</title>
    <!-- Google Fonts Link For Icons -->
    <!-- Google Icons Link -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="..\css\style.css" type="text/css">
</head>

<body>


    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="div-img">
                <img src="../images/download (1).png" class="head-img">
            </div>
            <div class="navbar-div1">
                <ul class="menu-links">
                    <li><a href="#">Home</a></li>
                    <!-- <li><a href="/Avalibility">Avalibility</a></li> -->
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <span id="close-menu-btn" class="material-symbols-outlined">close</span>
                </ul>

            </div>
            <div class="navbar-div2">
                <div class="div-btn">
                    <button class="book nav-btn1 b "><a href="/" class="logout login-btn">LOG OUT</a></button>
                    <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
                </div>

        </nav>

    </header>
    <div>
        <% if (name) { %>
            <h1>Welcome <%= name %></h1>
            <% } %>
         <form action="/Availibility">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
    </div>
    <script>
        const header = document.querySelector("header");
        const hamburgerBtn = document.querySelector("#hamburger-btn");
        const closeMenuBtn = document.querySelector("#close-menu-btn");

        // Toggle mobile menu on hamburger button click
        hamburgerBtn.addEventListener("click", () => header.classList.toggle("show-mobile-menu"));

        // Close mobile menu on close button click
        closeMenuBtn.addEventListener("click", () => hamburgerBtn.click());
    </script>
</body>

</html>